.products {
    background-color: $main-bg-color;
        
    &__label {
      margin-top: 0;
      margin-bottom: 15px;
  
      font-family: $secondary-font;
      font-weight: 400;
      @include font-size(18, 21);
      text-transform: uppercase;
      color: $secondary-accen-color;
      text-align: center;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 18px;
        @include font-size(26, 30);
      }
  
      @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
        @include font-size(30, 34);
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 8px;
  
      font-family: $secondary-font;
      font-weight: 400;
      @include font-size(34, 39);
      text-transform: uppercase;
      color: $main-accent-color;
      text-align: center;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 20px;
        @include font-size(48, 55);
      }
  
      @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
        @include font-size(58, 66);
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  
    &__unit {
      display: flex;
      align-items: center;
  
      @media screen and (max-width: 767px) {
        margin: 0;
        margin-top: 140px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 138px;
        margin-left: 4px;
        margin-right: 4px;
        width: calc((100% - 4 * 4px) / 3);
      }
  
      @media screen and (min-width: 1200px) {
        margin-top: 261px;
        margin-left: 8px;
        margin-right: 8px;
        width: calc((100% - 4 * 8px) / 3);
      }
    }
    @media screen and (min-width: 768px) {
      &__unit:nth-child(3n) {
        margin-right: 0;
      }
      &__unit:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  
    &__name {
      margin-top: 160px;
      margin-bottom: 70px;
  
      font-family: $secondary-font;
      font-weight: 400;
      @include font-size(20, 23);
      text-transform: uppercase;
      color: $white-txt-color;
      text-align: center;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 118px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-top: 165px;
        @include font-size(30, 34);
      }
    }
  
    &__card {
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
     
      background-color: $card-pink-bg-color;
      border-radius: 24px;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-left: 32px;
        padding-right: 32px;
      }
  
      @media screen and (min-width: 1200px) {
        padding-left: 64px;
        padding-right: 64px;
      }
    }
    &__card--coffee {
      background-color: $card-brown-bg-color;
    }
    &__card--milkshakes {
      background-color: $card-green-bg-color;
    }
  
    &__card::before {
      content: '';
      position: absolute;
      top: -140px;
      left: calc((100% - 280px) / 2);
      width: 280px;
      height: 280px;
  
      background-size: cover;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 224px;
        height: 224px;
        top: -138px;
        left: calc((100% - 224px) / 2);
      }
  
      @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        top: -261px;
        left: calc((100% - 368px) / 2);
      }
    }
  
    &__card::after {
      content: '';
      position: absolute;
      top: 215px;
      left: calc(50% - 13px);
      width: 26px;
      height: 6px;
  
      background-size: cover;
  
      background-image: url(/src/images/svg/threedot.svg);
  
      fill: $button-white-bg-color;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 173px;
      }
      @media screen and (min-width: 1200px) {
        top: 231px;
      }
    }
  
    &__text {
      margin-bottom: 32px;
  
      font-family: $main-font;
      font-weight: 700;
      @include font-size(14, 21);
      color: $white-txt-color;
      text-align: center;
  
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include font-size(14, 25);
      }
  
      @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        @include font-size(16, 28);
      }
    }
  
    &__button {
      height: 40px;
      width: 40px;

      padding-left: 0;
  
      margin-bottom: 40px;
      margin-right: auto;
      margin-left: calc(50% - 20px);
  
      display: inline-flex;
      align-items: center;
      justify-content: center;
  
      border-radius: 50%;
      border: none;
  
      background-image: url(/src/images/svg/arrow-right.svg);
    //   background-color: $button-white-bg-color;
      color: $main-accent-color;
  
      cursor: pointer;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
      border: 2px solid $main-accent-color;
    }
  
    &__backdrop {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 10px;
      padding-top: 60px;
      bottom: -1px;
      width: 100%;
      height: 100%;
      background-color: $card-green-bg-color;
      border-radius: 24px;
  
      opacity: 1;
      visibility: visible;
  
      transform: translateY(0) scale(1);
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
      z-index: 999;
    }
  
    &__backdrop--coffee {
      background-color: $card-pink-bg-color;
    }
  
    &__backdrop--coffee {
      background-color: $card-brown-bg-color;
    }
  
    &__backdrop.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: translateY(100%) scale(0.2);
    }
    &__button--close {
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 999;
  
      background-color: $main-bg-color;
  
      &:hover,
      &:focus {
        background-color: $button-red-hover-bg-color;
        border: 2px solid $main-txt-color;
        fill: $button-white-bg-color;
      }
    }
  
    &__backdrop__textaria {
      padding: 0;
      bottom: -1px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      scrollbar-width: none;
    }
    &__text--backdrod {
      margin: 0;
      text-align: start;
    }
  }
  
  @media screen and (max-width: 767px) {
    .products__card--cream::before {
      background-image: url(/src/images/products/mobile/ice-cream@1x.png);
      background-image: url(/src/images/products/mobile/ice-cream@1x.webp);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--cream::before {
        background-image: url(/src/images/products/mobile/ice-cream@2x.png);
        background-image: url(/src/images/products/mobile/ice-cream@2x.webp);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .products__card--cream::before {
        background-image: url(/src/images/products/mobile/ice-cream@3x.png);
        background-image: url(/src/images/products/mobile/ice-cream@3x.webp);
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .products__card--cream::before {
      background-image: url(/src/images/products/tablet/ice-cream@1x.png);
      background-image: url(/src/images/products/tablet/ice-cream@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--cream::before {
        background-image: url(/src/images/products/tablet/ice-cream@2x.png);
        background-image: url(/src/images/products/tablet/ice-cream@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--cream::before {
          background-image: url(/src/images/products/tablet/ice-cream@3x.png);
          background-image: url(/src/images/products/tablet/ice-cream@3x.webp);
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .products__card--cream::before {
      background-image: url(/src/images/products/desktop/ice-cream@1x.png);
      background-image: url(/src/images/products/desktop/ice-cream@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--cream::before {
        background-image: url(/src/images/products/desktop/ice-cream@2x.png);
        background-image: url(/src/images/products/desktop/ice-cream@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--cream::before {
          background-image: url(/src/images/products/desktop/ice-cream@3x.png);
          background-image: url(/src/images/products/desktop/ice-cream@3x.webp);
        }
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .products__card--coffee::before {
      background-image: url(/src/images/products/mobile/ice-coffee@1x.png);
      background-image: url(/src/images/products/mobile/ice-coffee@1x.webp);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--coffee::before {
        background-image: url(/src/images/products/mobile/ice-coffee@2x.png);
        background-image: url(/src/images/products/mobile/ice-coffee@2x.webp);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .products__card--coffee::before {
        background-image: url(/src/images/products/mobile/ice-coffee@3x.png);
        background-image: url(/src/images/products/mobile/ice-coffee@3x.webp);
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .products__card--coffee::before {
      background-image: url(/src/images/products/tablet/ice-coffee@1x.png);
      background-image: url(/src/images/products/tablet/ice-coffee@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--coffee::before {
        background-image: url(/src/images/products/tablet/ice-coffee@2x.png);
        background-image: url(/src/images/products/tablet/ice-coffee@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--coffee::before {
          background-image: url(/src/images/products/tablet/ice-coffee@3x.png);
          background-image: url(/src/images/products/tablet/ice-coffee@3x.webp);
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .products__card--coffee::before {
      background-image: url(/src/images/products/desktop/ice-coffee@1x.png);
      background-image: url(/src/images/products/desktop/ice-coffee@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--coffee::before {
        background-image: url(/src/images/products/desktop/ice-coffee@2x.png);
        background-image: url(/src/images/products/desktop/ice-coffee@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--coffee::before {
          background-image: url(/src/images/products/desktop/ice-coffee@3x.png);
          background-image: url(/src/images/products/desktop/ice-coffee@3x.webp);
        }
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .products__card--milkshakes::before {
      background-image: url(/src/images/products/mobile/milkshakes@1x.png);
      background-image: url(/src/images/products/mobile/milkshakes@1x.webp);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--milkshakes::before {
        background-image: url(/src/images/products/mobile/milkshakes@2x.png);
        background-image: url(/src/images/products/mobile/milkshakes@2x.webp);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .products__card--milkshakes::before {
        background-image: url(/src/images/products/mobile/milkshakes@3x.png);
        background-image: url(/src/images/products/mobile/milkshakes@3x.webp);
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .products__card--milkshakes::before {
      background-image: url(/src/images/products/tablet/milkshakes@1x.png);
      background-image: url(/src/images/products/tablet/milkshakes@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--milkshakes::before {
        background-image: url(/src/images/products/tablet/milkshakes@2x.png);
        background-image: url(/src/images/products/tablet/milkshakes@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--milkshakes::before {
          background-image: url(/src/images/products/tablet/milkshakes@3x.png);
          background-image: url(/src/images/products/tablet/milkshakes@3x.webp);
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .products__card--milkshakes::before {
      background-image: url(/src/images/products/desktop/milkshakes@1x.png);
      background-image: url(/src/images/products/desktop/milkshakes@1x.webp);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__card--milkshakes::before {
        background-image: url(/src/images/products/desktop/milkshakes@2x.png);
        background-image: url(/src/images/products/desktop/milkshakes@2x.webp);
      }
  
      @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .products__card--milkshakes::before {
          background-image: url(/src/images/products/desktop/milkshakes@3x.png);
          background-image: url(/src/images/products/desktop/milkshakes@3x.webp);
        }
      }
    }
  }