.header__buy-button {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-flex;

    width: 160px;
    margin-left: 28px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    &.disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
