.header {
  background-color: $card-pink-bg-color;
}

.header__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 502px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    height: 416px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 664px;
  }
}

.header__fixed-bar {
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  width: 100%;

  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;

  transition: transform $transition-timing $transition-function;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;

    &.transformed-up {
      transform: translateY(-24px);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 37px;
    padding-left: 16px;
    padding-right: 16px;

    &.transformed-up {
      transform: translateY(-29px);
    }
  }
}

.header__blur-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, #ffb8ca, #ffb8caa0 80%, #ffb8ca00);
  backdrop-filter: blur(6px);

  opacity: 0;

  transition: opacity 500ms $transition-function;

  &.is-blurred {
    opacity: 1;
  }
}

.header__navigation-container {
  display: flex;
  align-items: center;
}

.header__buttons-container {
  display: flex;
  align-items: center;
}
