.mobile-menu {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 9;

  width: 100vw;
  height: 100vh;

  background-color: $mobile-menu-bg-color;

  transition: transform $transition-timing $transition-function;

  &.is-open {
    transform: translateX(-101%);
  }
}
