.header__mobile-button-wrapper {
  position: relative;
  z-index: 190;
}

.mobile-menu-button {
  position: relative;
  z-index: 2;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;

  background-color: transparent;
  border: transparent;
  cursor: pointer;

  transform: translateX(8px);

  transition: transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    transform: translateX(8px) scale(1.15);
  }

  &.is-open {
    width: 40px;
    height: 40px;
    padding: 0;

    border-radius: 50%;
    background-color: #e17992c0;
  }

  @media screen and (min-width: 768px) {
    &.is-open {
      transform: translate(200px, -28px);
    }

    &.is-open.transformed-down {
      transform: translate(200px, -4px);
    }
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-button__container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20px;
  height: 14px;

  transition: transform $transition-timing $transition-function;

  .mobile-menu-button.is-open & {
    transform: rotate(45deg);
  }
}

.mobile-menu-button__line {
  display: flex;

  width: 100%;
  height: 2px;

  border-radius: 1px;

  transition: background-color $transition-timing $transition-function,
    transform $transition-timing $transition-function,
    opacity $transition-timing $transition-function;

  &--top,
  &--middle,
  &--bottom {
    background-color: $main-accent-color;

    .mobile-menu-button.is-open & {
      background-color: $white-txt-color;
    }

    .mobile-menu-button:hover &,
    .mobile-menu-button:focus & {
      background-color: $button-red-hover-bg-color;
    }
  }

  .mobile-menu-button.is-open &--top {
    transform: translateY(7px);
  }

  .mobile-menu-button.is-open &--middle {
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0);
  }

  .mobile-menu-button.is-open &--bottom {
    transform: rotate(90deg) translateX(-5px);
  }
}
