.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 250px;
  height: 100vh;

  background-color: $mobile-menu-bg-color;

  overflow-y: auto;

  transform: translateY(-100%);

  transition: transform $transition-timing $transition-function;

  &.is-open {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    width: 254px;

    &.is-open.transformed-down {
      transform: translateY(24px);
    }
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu__buy-button {
  flex-shrink: 0;

  width: 100%;
  margin-bottom: 20px;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 480px;
  height: 100%;
  padding-top: 66px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-menu__socials-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;

  padding-bottom: 20px;

  width: 100%;
  height: 100%;
}
