.mob-nav__list {
  @extend %list;

  margin-bottom: 40px;
}

.mob-nav__item {
  display: flex;
  align-items: center;

  height: 42px;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;

  border-top: 1px solid $mobile-menu-hr-color;

  &:last-child {
    border-bottom: 1px solid $mobile-menu-hr-color;
  }
}

.mob-nav__link {
  @extend %link-decor;

  display: block;

  width: 100%;
  height: 100%;

  font-weight: 700;
  @include font-size(14, 18);
  display: flex;
  align-items: center;

  color: $white-txt-color;

  transform-origin: left;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus,
  &.is-active {
    color: $main-accent-color;

    transform: scale(1.05);
  }
}
