.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  padding: 66px 20px;

  background-color: $mobile-menu-bg-color;

  transform: translateY(-100%);

  transition: transform $transition-timing $transition-function;

  &.is-open {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    width: 254px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu__buy-button {
  width: 100%;
  margin-bottom: 20px;
}
