html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-weight: 500;
  color: $main-txt-color;
  background-color: $main-bg-color;

  @media screen and (max-width: 767.98px) {
    &.mobile-menu-is-open {
      overflow: hidden;
    }
  }
}
