// Fonts
$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

// Text & Accents colors
$main-txt-color: #2e2520;
$white-txt-color: #fff;

$placeholder-txt-color: rgba(171, 129, 108, 0.5);

$accent-main-color: #ab816c;
$accent-hover-color: #876655;
$accent-active-color: #674d40;

// Background colors
$main-bg-color: #fffff9;
$secondary-bg-color: #fef3e4;

$mobile-menu-bg-color: rgba(254, 243, 228, 0.9);

// Transition Props
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
