.gallery-section {
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: 767px){
            background: linear-gradient($secondary-bg-color, $secondary-bg-color 57px, $main-bg-color 57px, $main-bg-color);
    }

    @media screen and(min-width: 768px) and (max-width: 1199px){
            background: linear-gradient($secondary-bg-color, $secondary-bg-color 187px, $main-bg-color 187px, $main-bg-color);
    }
    
    @media screen and (min-width: 1200px) {
             background: linear-gradient($secondary-bg-color, $secondary-bg-color 100px, $main-bg-color 100px, $main-bg-color);
    }
}

.gallery-container {
    max-width: 1200px;
    left: 0;
    padding: 0;
}

.gallery-sizer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gallery-sizer__item {
    @media screen and (max-width: 767px){
        width: 44px;
            margin: 1.25px;
        
            &--width {
                width: 89px;
            }
    }

    @media screen and(min-width: 768px) and (max-width: 1199px) {
        width: 105px;
            margin: 3px;
        
            &--width {
                width: 215px;
            }
    }
    
    @media screen and (min-width: 1200px){
        width: 138px;
            margin: 4px;
        
            &--width {
                width: 283px;
            }
    }

    &--first,
    &--last {
        transform: translateY(100%);
    }

    &--second {
        transform: translateY(25%);
    }

    &--third {
        transform: translateY(15%);
    }

}
.gallery-sizer__item--width {
    perspective: 1000px;
}
.gallery-item--sale {
    position: relative;
    transform-style: preserve-3d;
    transition: transform $transition-timing $transition-function;

    @media screen and(max-width: 767px){
        &-min {
            width: 44px;
            }
    }
    
    @media screen and(min-width: 768px) and(max-width: 1199px) {
        &-min {
            width: 105px;
        }
    }

    @media screen and(min-width: 1200px){
        &-min {
            width: 138px;

        }
    }

    &:hover,
    &:focus {
        transform: rotateY(180deg);
        .gallery-item__discriotion {
            z-index: 1;
            cursor: pointer;
        }
    }
}

.gallery-item__discriotion {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $card-pink-bg-color;
    
    display: flex;
    align-items: center;
    z-index: -1;
    
    transform: rotateY(180deg);
    backface-visibility: hidden;

    @media screen and (max-width: 767px) {
       border-radius: 8px;
        width: 100%;
        height: 44px;
    }

    @media screen and(min-width: 768px) {
        border-radius: 20px;
        width: 100%;
        height: 105;
    }
   
    @media screen and(min-width: 1200px) {
        
    width: 100%;
    height: 138px;
    }
    
    &--large {
        @media screen and (max-width: 767px) {
                width: 100%;
                height: 89px;
            }
        
        @media screen and(min-width: 768px) and (max-width: 1199px) {
                width: 100%;
                height: 215px;
            }

        @media screen and(min-width: 1200px) {
        
                width: 100%;
                height: 283px;
            }
    }

    .big-size {
        @media screen and (max-width: 767px) {
            font-size: 30px;
            
        }

         @media screen and(min-width: 768px) and (max-width: 1199px) {
            font-size: 80px;
            
        }

         @media screen and(min-width: 1200px) {
            font-size: 100px;
         }

            line-height: 24px;
            text-align: center;
            color: $white-txt-color;
            flex-basis: 100%;
    }

    p {
        @media screen and (max-width: 767px) {
                font-size: 16px;
        
            }
        
        @media screen and(min-width: 768px) and (max-width: 1199px) {
                font-size: 40px;
        
            }
        
        @media screen and(min-width: 1200px) {
                font-size: 50px;
            }
        
            line-height: 24px;
            text-align: center;
            color: $white-txt-color;
            flex-basis: 100%;
    }
}

.gallery-item__small-discription {
    @media screen and(max-width: 767px){
        width: 44px;
    }
    
    @media screen and(min-width: 768px) and(max-width: 1199px){
        width: 105px;
    }

}

.gallery-section__img {
    display: block;
    margin-bottom: 1px;
    border-radius: 20px;

    @media screen and(max-width: 767px){
            height: 44px;
            width: 100%;
            border-radius: 8px;
            
            &--big-img {
                    height: 89;
                    width: 100%;
                }
        }

    @media screen and(min-width: 768px) and(max-width: 1199px) {
        height: 105px;
        width: 100%;

        &--big-img {
                height: 215;
                width: 100%;
            }
    }   
}