.gallery-section {
    background: linear-gradient($secondary-bg-color, $secondary-bg-color 30%, $main-bg-color 30%, $main-bg-color);
}

.grid-container {
    max-width: 1200px;
    left: 0;
    padding: 0;
}

.grid-sizer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.grid-sizer__item {
    width: 44px;    
    margin: 1.25px;

    &--width {
            width: 89px;
        }

    &--first,
    &--last {
        transform: translateY(100%);
    }

    &--second {
        transform: translateY(25%);
    }

    &--third {
        transform: translateY(15%);
    }

}
.grid-sizer__item--width {
    perspective: 1000px;
}
.grid-item--sale {
    position: relative;
    transform-style: preserve-3d;
    transition: transform $transition-timing $transition-function;

    &-min {
        width: 44px;
    }

    &:hover,
    &:focus {
        transform: rotateY(180deg);
        .grid-item__discriotion {
            z-index: 1;
            cursor: pointer;
        }
    }
}

.grid-item__discriotion {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $card-pink-bg-color;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
    border-radius: 8px;
    transform: rotateY(180deg);
    backface-visibility: hidden;

    .big-size {
            font-size: 30px;
            line-height: 24px;
            text-align: center;
            color: $white-txt-color;
            flex-basis: 100%;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $white-txt-color;
        flex-basis: 100%;
    }
}

.grid-item__small-discription {
    width: 44px;

}

.grid-section__img {
    display: block;
    max-width: 100%;
    margin-bottom: 1px;
    border-radius: 8px;
}
