.contact {
  @extend .section;

  background-image: linear-gradient(
    to bottom,
    $main-bg-color 24%,
    $secondary-bg-color 15%,
    $secondary-bg-color 40%
  );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $main-bg-color 40%,
      $secondary-bg-color 15%,
      $secondary-bg-color 40%
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to bottom,
      $main-bg-color 20%,
      $secondary-bg-color 15%,
      $secondary-bg-color 40%
    );
  }
}

.contact__cards {
  @extend %list;

  margin: auto;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 32px;
  }
}

.contact-card {
  @extend %no-margin;
  @extend %list;

  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 32px;
  margin-bottom: 20px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 360px) {
    width: calc((100% - 0px) / 1);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
    width: 224px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 32px) / 3);
    width: 368px;
  }

  &__title {
    @extend %no-margin;

    position: relative;
    top: 1px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 80px;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;

    @include font-size(12, 16);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: $white-txt-color;

    @media screen and (min-width: 768px) {
      @include font-size(16, 30);
      font-weight: 500;
      letter-spacing: 0.04em;
      padding-left: 18px;
      padding-right: 18px;
    }

    &::before {
      content: '';

      position: absolute;
      top: -1px;
      z-index: -1;

      width: 100%;
      height: 100%;

      border-radius: 4px;
    }

    &--brown {
      &::before {
        background: $card-brown-bg-color;
      }
    }

    &--green {
      &::before {
        background: $card-green-bg-color;
      }
    }
  }
  &__item {
    padding: 0;
  }

  &__place {
    @extend %no-margin;
    @include font-size(12, 22);

    margin-bottom: 8px;

    letter-spacing: 0.04em;

    color: $main-txt-color;

    @media screen and (min-width: 768px) {
      @include font-size(14, 26);
    }

    @media screen and (min-width: 1280px) {
      @include font-size(16, 30);
    }
  }

  &__text {
    @extend %no-margin;
    @include font-size(12, 18);

    max-width: 180px;

    font-weight: 500;

    color: $secondary-txt-color;

    @media screen and (min-width: 768px) {
      @include font-size(14, 23);
    }

    @media screen and (min-width: 1280px) {
      @include font-size(16, 29);

      max-width: 244px;

      letter-spacing: 0.04em;
    }
  }

  &__shedule-item {
    max-width: 180px;
  }

  &__days {
    @extend %no-margin;
    @include font-size(12, 22);

    @media screen and (min-width: 768px) {
      @include font-size(14, 26);
    }

    @media screen and (min-width: 1280px) {
      @include font-size(16, 30);
      letter-spacing: 0.04em;
    }
  }

  &__time {
    @extend %no-margin;

    @include font-size(12, 22);

    color: $secondary-accen-color;

    @media screen and (min-width: 768px) {
      @include font-size(14, 26);
    }

    @media screen and (min-width: 1280px) {
      @include font-size(16, 30);
    }
  }
  &__link {
    @extend %link-decor;

    @include font-size(12, 18);

    color: $secondary-txt-color;

    transition: color $transition-timing $transition-function;

    @media screen and (min-width: 768px) {
      @include font-size(14, 26);
    }

    @media screen and (min-width: 1280px) {
      @include font-size(16, 29);
    }

    &:hover,
    &:focus {
      color: $main-accent-color;
    }
  }
}

.contact-card:last-child {
  margin-bottom: 32px;
}

.contact-card__item:not(:first-child) {
  padding-top: 24px;
}

.contact-card__item:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contact-card__shedule-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact__buttons {
  @extend %list;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button--white_arrowed_length {
  width: 170px;
}

.contact__buttons-tupe {
  margin-bottom: 12px;
}
.contact__buttons-tupe:last-child {
  margin-bottom: 0;
}
