.contact {
  @extend .section;

  padding-top: 30px;
  padding-bottom: 20px;

  background-image: linear-gradient(
    to bottom,
    $main-bg-color,
    $main-bg-color 340px,
    $secondary-bg-color 340px,
    $secondary-bg-color
  );

  @media screen and (min-width: 768px) {
    padding-top: 40px;

    background-image: linear-gradient(
      to bottom,
      $main-bg-color,
      $main-bg-color 338px,
      $secondary-bg-color 338px,
      $secondary-bg-color
    );
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;

    background-image: linear-gradient(
      to bottom,
      $main-bg-color,
      $main-bg-color 160px,
      $secondary-bg-color 160px,
      $secondary-bg-color
    );
  }
}

.contact__cards {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: -16px;
  }
}

.contact-card {
  @extend %no-margin;
  @extend %list;

  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 32px;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px * 3) / 3);

    margin: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.contact-card__item {
  @extend %list;
}

.contact-card__text {
  @extend %no-margin;

  @include font-size(12, 18);

  max-width: 180px;

  font-weight: 500;

  color: $secondary-txt-color;

  @media screen and (min-width: 768px) {
    @include font-size(14, 23);
  }

  @media screen and (min-width: 1200px) {
    @include font-size(16, 29);

    max-width: 244px;

    letter-spacing: 0.04em;
  }
}

.contact-card__shedule-item {
  max-width: 180px;
}

.contact-card__days {
  @extend %no-margin;

  @include font-size(12, 22);

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 1200px) {
    @include font-size(16, 30);
    letter-spacing: 0.04em;
  }
}

.contact-card__time {
  @extend %no-margin;

  @include font-size(12, 22);

  color: $secondary-accen-color;

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 1200px) {
    @include font-size(16, 30);
  }
}

.contact-card__link {
  @extend %link-decor;

  display: inline-block;

  @include font-size(12, 18);

  color: $secondary-txt-color;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $main-accent-color;

    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 1200px) {
    @include font-size(16, 29);
  }
}

.contact-card__title {
  @extend %no-margin;

  position: relative;
  top: 1px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 80px;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

  @include font-size(12, 16);
  font-weight: 500;
  letter-spacing: 0.04em;

  color: $white-txt-color;

  @media screen and (min-width: 768px) {
    padding-left: 18px;
    padding-right: 18px;

    @include font-size(16, 30);
  }

  &::before {
    content: '';

    position: absolute;
    top: -1px;
    z-index: -1;

    width: 100%;
    height: 100%;

    border-radius: 4px;
  }

  &--brown {
    &::before {
      background: $card-brown-bg-color;
    }
  }

  &--green {
    &::before {
      background: $card-green-bg-color;
    }
  }
}

.contact-card__place {
  @extend %no-margin;
  @include font-size(12, 22);

  margin-bottom: 8px;

  letter-spacing: 0.04em;

  color: $main-txt-color;

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 1200px) {
    @include font-size(16, 30);
  }
}

.contact-card__item:not(:first-child) {
  padding-top: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}

.contact-card__item:not(:last-child) {
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }

  border-bottom: 1px solid #e1e1e1;
}

.contact-card__shedule-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact__buttons {
  @extend %list;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    margin-top: 51px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.contact__button-container:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 14px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.contacts__button {
  &--red {
    width: 162px;
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (min-width: 768px) {
      width: 192px;
    }

    @media screen and (min-width: 1200px) {
      width: 198px;
    }
  }

  &--white {
    width: 162px;

    @media screen and (min-width: 768px) {
      width: 174px;
    }

    @media screen and (min-width: 1200px) {
      width: 168px;
    }
  }
}
