.about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-bg-color;
    & .container {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 320px;
        }
    }
}

.about__headline {
    margin: 0 0 15px 0;
}

.about__title {
    margin: 0 0 32px 0;
}

.about__img {
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.about__wrap {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6em;


    @media screen and (max-width: 767px) {
        background-image: url('../images/About/bg-mobile.png');
        background-position: center 70px;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url('../images/About/bg-mobile@2x.png');
            }
        } 
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            & {
                background-image: url('../images/About/bg-mobile@3x.png');
            }
        } 
    }
}

.about__text-dark {
    color: #000000;
    margin: 0 60px 20px 0;
}

.about__text {
    color: $secondary-txt-color;
    margin-right: 60px;
}

.about__excerpt {
    display: block;
    margin: 20px 0 20px 0;
}

.about__btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $main-accent-color;
    background-color: #fff;
    // padding-bottom: 22px;
    // padding-top: 22px;
    padding-left: 37px;
    padding-right: 37px;
    
    // &.button {
    //     height: 0;
    // }
}

