.about {
  @extend .section;

  padding-bottom: 20px;

  background-color: $secondary-bg-color;

  background-position: top calc(100% - 150px) left, top calc(100% - 150px) right;
  background-size: 146px, 146px;
  background-repeat: no-repeat;

  @media screen and (max-width: 346px) {
    background-position: top calc(100% - 175px) left,
      top calc(100% - 175px) right;
  }

  background-image: url('../images/about/bg/mobile/bg-mobile-left.png'),
    url('../images/about/bg/mobile/bg-mobile-right.png');
  background-image: url('../images/about/bg/mobile/bg-mobile-left.webp'),
    url('../images/about/bg/mobile/bg-mobile-right.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/about/bg/mobile/bg-mobile-left@2x.png'),
      url('../images/about/bg/mobile/bg-mobile-right@2x.png');
    background-image: url('../images/about/bg/mobile/bg-mobile-left@2x.webp'),
      url('../images/about/bg/mobile/bg-mobile-right@2x.webp');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/about/bg/mobile/bg-mobile-left@3x.png'),
      url('../images/about/bg/mobile/bg-mobile-right@3x.png');
    background-image: url('../images/about/bg/mobile/bg-mobile-left@3x.webp'),
      url('../images/about/bg/mobile/bg-mobile-right@3x.webp');
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;

    background-image: none;
  }

  @media screen and (min-width: 1200px) {
    background-position: bottom left, bottom right;
    background-size: 592px, 592px;
    background-repeat: no-repeat;

    background-image: url('../images/about/bg/desktop/bg-desktop-left.png'),
      url('../images/about/bg/desktop/bg-desktop-right.png');
    background-image: url('../images/about/bg/desktop/bg-desktop-left.webp'),
      url('../images/about/bg/desktop/bg-desktop-right.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/bg/desktop/bg-desktop-left@2x.png'),
        url('../images/about/bg/desktop/bg-desktop-right@2x.png');
      background-image: url('../images/about/bg/desktop/bg-desktop-left@2x.webp'),
        url('../images/about/bg/desktop/bg-desktop-right@2x.webp');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/about/bg/desktop/bg-desktop-left@3x.png'),
        url('../images/about/bg/desktop/bg-desktop-right@3x.png');
      background-image: url('../images/about/bg/desktop/bg-desktop-left@3x.webp'),
        url('../images/about/bg/desktop/bg-desktop-right@3x.webp');
    }
  }
}

.about__container {
  @extend .container;
}

.about__label {
  @extend .section__label;

  margin-bottom: 15px;
}

.about__title {
  @extend .section__title;

  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.about__img {
  @extend .image;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  object-fit: cover;
  width: 280px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-bottom: 0;
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
    width: 501px;
  }
}

.about__text-wrapper {
  @media screen and (min-width: 768px) {
    max-width: 334px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    @include font-size(14, 27);

    max-width: 390px;
    margin-top: 90px;
  }
}

.about__text {
  @extend %no-margin;

  font-weight: 500;
  @include font-size(14, 24);

  color: $main-txt-color;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-right: 0;
    margin-bottom: 30px;
  }

  &--light {
    color: $secondary-txt-color;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
    }

    &_bottom {
      color: $secondary-txt-color;
      margin-bottom: 0;
    }
  }
}

.about__button {
  margin-top: 20px;
  min-width: 176px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}
