.about {
  @extend .section;

  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  background-color: $secondary-bg-color;
}

.about__container {
  @extend .container;

  background-position: bottom, center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: 1200px) {
    background-image: url('../images/about/bg/bg-desktop.png');
    background-image: url('../images/about/bg/bg-desktop.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/about/bg/bg-desktop@2x.png');
        background-image: url('../images/about/bg/bg-desktop@2x.webp');
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      & {
        background-image: url('../images/about/bg/bg-desktop@3x.png');
        background-image: url('../images/about/bg/bg-desktop@3x.webp');
      }
    }
  }
}

.about__label {
  @extend .section__label;

  margin-bottom: 15px;
}

.about__title {
  @extend .section__title;

  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.about__img {
  @extend .image;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  object-fit: cover;
  width: 280px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-bottom: 0;
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
    width: 501px;
  }
}

.about__text-wrapper {
  background-position: right 30%;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url('../images/about/bg/bg-mobile.png');
  background-image: url('../images/about/bg/bg-mobile.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('../images/about/bg/bg-mobile@2x.png');
      background-image: url('../images/about/bg/bg-mobile@2x.webp');
    }
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    & {
      background-image: url('../images/about/bg/bg-mobile@3x.png');
      background-image: url('../images/about/bg/bg-mobile@3x.webp');
    }
  }

  @media screen and (min-width: 768px) {
    background: none;
    margin-bottom: 0;
    max-width: 334px;
  }

  @media screen and (min-width: 1200px) {
    @include font-size(14, 27);
    max-width: 390px;
    margin-top: 90px;
  }
}

.about__text {
  @extend %no-margin;

  font-weight: 500;
  @include font-size(14, 24);

  color: $main-txt-color;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-right: 0;
    margin-bottom: 30px;
  }

  &--light {
    color: $secondary-txt-color;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
    }

    &_bottom {
      color: $secondary-txt-color;
      margin-bottom: 0;
    }
  }
}

.about__button {
  margin-top: 20px;
  min-width: 176px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}
