.footer {
  @extend .section;

  padding-top: 20px;
  padding-bottom: 0;

  background-color: $secondary-bg-color;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.footer__container {
  @extend .container;

  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;

    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.footer__socials {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-top: auto;
  }
}

.footer__label {
  @extend %no-margin;
  @extend .section__label;

  width: 234px;

  text-align: left;

  @media screen and (min-width: 768px) {
    width: 340px;

    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    width: 474px;

    margin-bottom: 16px;
  }
}

.footer__title {
  @extend %no-margin;
  @extend .section__title;

  width: 234px;

  text-align: left;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    display: inline;

    width: 474px;
  }
}

.socials__list {
  @extend %no-margin;
  @extend %list;

  display: flex;
  justify-content: flex-end;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  &--mobile {
    margin-bottom: 0;
  }
}

.socials__item:not(:last-child) {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  background-color: $button-socials-bg-color;

  border-radius: 50%;

  transition: background-color $transition-timing $transition-function,
    transform $transition-timing $transition-function,
    box-shadow $transition-timing $transition-function;

  &:hover,
  &:focus {
    background-color: $main-accent-color;

    transform: scale(1.2);

    box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.2);
  }
}

.socials__icon {
  fill: $main-bg-color;
}

.footer__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__contacts-text {
  margin-right: 4px;
  padding-top: 20px;

  font-weight: 700;
  @include font-size(12, 22);

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 768px) {
    @include font-size(16, 30);
  }
}

.footer__contacts-link {
  @extend %link-decor;

  padding-top: 20px;

  font-weight: 700;
  @include font-size(12, 22);

  color: $main-accent-color;

  transform-origin: left;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: #b42143;

    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    @include font-size(14, 26);
  }

  @media screen and (min-width: 768px) {
    @include font-size(16, 30);
  }
}

.footer__copyright {
  width: 100%;

  padding-top: 16px;
  padding-bottom: 3px;

  border-top: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.footer__copyright-container {
  @extend .container;

  display: flex;
  justify-content: center;
}

.footer__copyright-text {
  @extend %no-margin;

  width: 150px;

  text-align: center;

  font-weight: 700;
  @include font-size(14, 21);

  color: $secondary-txt-color;

  @media screen and (min-width: 768px) {
    width: 278px;

    @include font-size(14, 26);
    letter-spacing: 0.02em;
  }
}
