<div class="abaut-modal is-hidden" data-modal>
  <button
    type="button"
    class="button button--white_arrowed abaut-modal__button-clos"
    data-modal-close
  >
    Close
  </button>
  <div class="abaut-modal__guts">
    <p class="abaut-modal__text">
      The company "Ice Cream" has its own raw material base and pays special
      attention to the parameters of raw materials received for processing. The
      company carries out maximum quality control both at the stage of milk
      procurement and in production.
    </p>
    <p class="abaut-modal__text">
      The management system implemented in the company is exactly the same as in
      the leading international enterprises
    </p>
  </div>
</div>
