<div class="abaut-modal is-hidden" data-modal>
  <button
    type="button"
    class="button button--white_arrowed abaut-modal__button-clos"
    data-modal-close
  >
    Close
  </button>
  <div class="abaut-modal__guts">
    <p class="abaut-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
      expedita corrupti laudantium aperiam, doloremque explicabo ipsum earum
      dicta saepe delectus totam vitae ipsam doloribus et obcaecati facilis eius
      assumenda, cumque. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Repudiandae expedita corrupti laudantium aperiam, doloremque
      explicabo ipsum earum dicta saepe delectus totam
    </p>
  </div>
</div>
