<section class="advantages">
  <div class="advantages__containet">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="33" height="50">
          <use href="./images/svg/sprite.svg#milk"></use>
        </svg>
        <p class="advantages__quantity">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
          <use href="./images/svg/sprite.svg#apples"></use>
        </svg>
        <p class="advantages__quantity">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="44" height="50">
          <use href="./images/svg/sprite.svg#icecream"></use>
        </svg>
        <p class="advantages__quantity">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
