<section id="contacts" class="contact">
  <div class="container">
    <h1 class="title-shadow">work time</h1>

    <div class="contact__card">
      <div><h2 class="contact__title contact__card-one">CAFE</h2></div>

      <div class="contact__item">
        <h3 class="contact__place">Chicago</h3>
        <p class="contact__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__item">
          <h3 class="contact__work">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <h3 class="contact__work">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__social">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact__social">
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>

    <div class="contact__card">
      <div><h2 class="contact__title contact__card-two">FOODTRUCK</h2></div>

      <div class="contact__item">
        <h3 class="contact__place">Los Angeles</h3>
        <p class="contact__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__item">
          <h3 class="contact__work">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <h3 class="contact__work">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__social">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact__social">
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>

    <div class="contact__card">
      <div><h2 class="contact__title contact__card-one">CAFE</h2></div>

      <div class="contact__item">
        <h3 class="contact__place">New York</h3>
        <p class="contact__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__item">
          <h3 class="contact__work">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <h3 class="contact__work">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contact__line"></li>
        <li class="contact__social">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact__social">
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
    <div class="contact__buttons">
      <button class="button button--red button--red_arrowed" type="button">
        Our Locations
      </button>
    </div>
    <div class="contact__buttons">
      <button class="button button--white button--white_arrowed" type="button">
        Franchise
      </button>
    </div>
  </div>
</section>
