<section class="contacts">
  <div class="container">
    <h1 class="title-shadow">work time</h1>

    <ul class="contacts__card">
      <div class="contacts__position">
        <h2 class="contacts__card-one">
          <span class="contacts__title">CAFE</span>
        </h2>

        <li class="contacts__item">
          <h3 class="contacts__place">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__item">
          <h3 class="contacts__work">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__work">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__social">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="contacts__social">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
      </div>
    </ul>

    <ul class="contacts__card">
      <div class="contacts__position">
        <h2 class="contacts__card-two">
          <span class="contacts__title">FOODTRUCK</span>
        </h2>

        <li class="contacts__item">
          <h3 class="contacts__place">Los Angeles</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__item">
          <h3 class="contacts__work">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__work">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__social">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="contacts__social">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
      </div>
    </ul>

    <ul class="contacts__card">
      <div class="contacts__position">
        <h2 class="contacts__card-one">
          <span class="contacts__title">CAFE</span>
        </h2>

        <li class="contacts__item">
          <h3 class="contacts__place">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__item">
          <h3 class="contacts__work">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__work">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <div class="contacts__line"></div>
        <li class="contacts__social">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="contacts__social">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </li>
      </div>
    </ul>
  </div>
</section>
