<section class="customer-reviews">
  <div class="customer-reviews__container" data-aos="fade-up">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <article class="swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-1.webp    1x,
                ./images/customer-reviews/reviewer-1@2x.webp 2x,
                ./images/customer-reviews/reviewer-1@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-1.jpg    1x,
                ./images/customer-reviews/reviewer-1@2x.jpg 2x,
                ./images/customer-reviews/reviewer-1@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-1.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Team Lead <br />
            Dudka Volodymyr, Dnipro
          </p>
        </article>
        <article class="swiper-slide customer-reviews__item">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-2.webp    1x,
                ./images/customer-reviews/reviewer-2@2x.webp 2x,
                ./images/customer-reviews/reviewer-2@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-2.jpg    1x,
                ./images/customer-reviews/reviewer-2@2x.jpg 2x,
                ./images/customer-reviews/reviewer-2@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-2.jpg"
              alt="Rewiewer photo"
              width="85"
              height="85"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Scrum Master <br />
            Shtondenko Inna, Dnipro
          </p>
        </article>
        <article class="swiper-slide customer-reviews__item">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-3.webp    1x,
                ./images/customer-reviews/reviewer-3@2x.webp 2x,
                ./images/customer-reviews/reviewer-3@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-3.jpg    1x,
                ./images/customer-reviews/reviewer-3@2x.jpg 2x,
                ./images/customer-reviews/reviewer-3@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              src="./images/customer-reviews/reviewer-3.jpg"
              class="customer-reviews__photo"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />
            Bokhvalov Ivan, Wroclaw
          </p>
        </article>
        <article class="swiper-slide customer-reviews__item">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-4.webp    1x,
                ./images/customer-reviews/reviewer-4@2x.webp 2x,
                ./images/customer-reviews/reviewer-4@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-4.jpg    1x,
                ./images/customer-reviews/reviewer-4@2x.jpg 2x,
                ./images/customer-reviews/reviewer-4@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-4.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Gileva Katya, Cherkasy
          </p>
        </article>
        <article class="swiper-slide customer-reviews-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-5.webp    1x,
                ./images/customer-reviews/reviewer-5@2x.webp 2x,
                ./images/customer-reviews/reviewer-5@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-5.jpg    1x,
                ./images/customer-reviews/reviewer-5@2x.jpg 2x,
                ./images/customer-reviews/reviewer-5@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-5.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Rudka Bohdana, Lviv
          </p>
        </article>
        <article class="swiper-slide customer-reviews-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-6.webp    1x,
                ./images/customer-reviews/reviewer-6@2x.webp 2x,
                ./images/customer-reviews/reviewer-6@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-6.jpg    1x,
                ./images/customer-reviews/reviewer-6@2x.jpg 2x,
                ./images/customer-reviews/reviewer-6@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-6.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Ivashchuk Vladyslav, Odessa
          </p>
        </article>
        <article class="swiper-slide customer-reviews-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-7.webp    1x,
                ./images/customer-reviews/reviewer-7@2x.webp 2x,
                ./images/customer-reviews/reviewer-7@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-7.jpg    1x,
                ./images/customer-reviews/reviewer-7@2x.jpg 2x,
                ./images/customer-reviews/reviewer-7@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-7.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Chernichenko Kostiantyn, Kharkiv
          </p>
        </article>
        <article class="swiper-slide customer-reviews-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-8.webp    1x,
                ./images/customer-reviews/reviewer-8@2x.webp 2x,
                ./images/customer-reviews/reviewer-8@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-8.jpg    1x,
                ./images/customer-reviews/reviewer-8@2x.jpg 2x,
                ./images/customer-reviews/reviewer-8@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-8.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Maliuha Ihor, Lviv
          </p>
        </article>
        <article class="swiper-slide customer-reviews-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/reviewer-9.webp    1x,
                ./images/customer-reviews/reviewer-9@2x.webp 2x,
                ./images/customer-reviews/reviewer-9@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/customer-reviews/reviewer-9.jpg    1x,
                ./images/customer-reviews/reviewer-9@2x.jpg 2x,
                ./images/customer-reviews/reviewer-9@3x.jpg 3x
              "
              type="image/jpg"
            />

            <img
              class="customer-reviews__photo"
              src="./images/customer-reviews/reviewer-9.jpg"
              width="85"
              height="85"
              alt="Rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend developer <br />Dvorak Nazar , Kyiv
          </p>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
