<section class="gallery-section">
<div class="grid-container container">
   <div class="grid-sizer">
      <div class="grid-item grid-item--first">
         <div class="grid-item--sale">
         <div class="grid-item__wrapper">
            <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-5_s.jpg 1x, 
                    ./images/section-gallery//mob/img-5_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img-5_s@3x.jpg 3x,
                    ./images/section-gallery//mob/img-5_s.webp,
                    ./images/section-gallery//mob/img-5_s@2x.webp,
                    ./images/section-gallery//mob/img-5_s@3x.webp" 
            src="./images/section-gallery//mob/img-5_s.jpg"
            alt="зеленое мороженое в тарелке" 
            width="43" 
            height="43"
            loading="lazy">
         </div>
         <div class="grid-item__discriotion">
            <p>-5%</p>
         </div>
         </div>
      </div>
      <div class="grid-item grid-item--second">
         <div class="grid-item--sale">
            <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-4_s.jpg 1x, 
                    ./images/section-gallery//mob/img-4_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img-4_s@3x.jpg 3x,
                    ./images/section-gallery//mob/img-4_s.webp,
                    ./images/section-gallery//mob/img-4_s@2x.webp,
                    ./images/section-gallery//mob/img-4_s@3x.webp" 
            src="./images/section-gallery//mob/img-4_s.jpg"
            alt="розовое мороженое на желтом фоне" 
            width="43" 
            height="43"
            loading="lazy">
            </div>
            <div class="grid-item__discriotion">
            <p>-9%</p>
            </div>
            </div>
            <div class="grid-item--sale">
            <div class="grid-item__wrapper">
            <img class="grid-section__img" 
               srcset="./images/section-gallery//mob/img-6_s.jpg 1x, 
                        ./images/section-gallery//mob/img-6_s@2x.jpg 2x, 
                        ./images/section-gallery//mob/img-6_s@3x.jpg 3x,
                        ./images/section-gallery//mob/img-6_s.webp,
                        ./images/section-gallery//mob/img-6_s@2x.webp,
                        ./images/section-gallery//mob/img-6_s@3x.webp" 
               src="./images/section-gallery//mob/img-6_s.jpg"
               alt="мороженое с малиной на палочке" 
               width="43" 
               height="43"
               loading="lazy">
            </div>
            <div class="grid-item__discriotion">
               <p>-2%</p>
            </div>
            </div>
      </div>
      
      <div class="grid-item grid-item--width">
         <div class="grid-item--sale">
         <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img_s.jpg 1x, 
                    ./images/section-gallery//mob/img_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img_s@3x.jpg 3x,
                    ./images/section-gallery//mob/img_s.webp,
                    ./images/section-gallery//mob/img_s@2x.webp,
                    ./images/section-gallery//mob/img_s@3x.webp" 
            src="./images/section-gallery//mob/img_s.jpg"
            alt="рожки с фруктами на столе" 
            width="89" 
            height="89"
            loading="lazy">
         </div>
         <div class="grid-item__discriotion">
         <p class="big-size">-35%</p>
      </div> 
         </div>
         <div class="grid-item--sale grid-item--sale-min">
         <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-7_s.jpg 1x, 
                    ./images/section-gallery//mob/img-7_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img-7_s@3x.jpg 3x,
                     ./images/section-gallery//mob/img-7_s.webp,
                    ./images/section-gallery//mob/img-7_s@2x.webp,
                    ./images/section-gallery//mob/img-7_s@3x.webp"
            src="./images/section-gallery//mob/img-7_s.jpg" 
            alt="девушка улыбается и держит мороженое в руке" 
            width="43"
            height="43"
            loading="lazy">
            </div>
            <div class="grid-item__discriotion grid-item__small-discription">
               <p>-3%</p>
            </div>
         </div>
      </div>
      
      <div class="grid-item grid-item--second">
         <div class="grid-item--sale">
         <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-9_s.jpg 1x, 
                    ./images/section-gallery//mob/img-9_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img-9_s@3x.jpg 3x,
                    ./images/section-gallery//mob/img-9_s.webp,
                    ./images/section-gallery//mob/img-9_s@2x.webp,
                    ./images/section-gallery//mob/img-9_s@3x.webp" 
            src="./images/section-gallery//mob/img-9_s.jpg"
            alt="мороженое в прозрачной тарелке с рукой" 
            width="43" 
            height="43"
            loading="lazy">
            </div>
            <div class="grid-item__discriotion">
               <p>-7%</p>
            </div>
            </div>
            <div class="grid-item--sale">
            <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-8_s.jpg 1x, 
                    ./images/section-gallery//mob/img-8_s@2x.jpg 2x, 
                     ./images/section-gallery//mob/img-8_s@3x.jpg 3x,
                     ./images/section-gallery//mob/img-8_s.webp,
                    ./images/section-gallery//mob/img-8_s@2x.webp,
                    ./images/section-gallery//mob/img-8_s@3x.webp"
            src="./images/section-gallery//mob/img-8_s.jpg" 
            alt="красное иороженое на фоне города" 
            width="43" 
            height="43"
            loading="lazy">
            </div>
            <div class="grid-item__discriotion">
               <p>-10%</p>
            </div>
            </div>
      </div>
      
      <div class="grid-item grid-item--third">
         <div class="grid-item--sale">
            <div class="grid-item__wrapper">
               <img class="grid-section__img" 
                    srcset="./images/section-gallery//mob/img-10_s.jpg 1x, 
                           ./images/section-gallery//mob/img-10_s@2x.jpg 2x, 
                           ./images/section-gallery//mob/img-10_s@3x.jpg 3x,
                           ./images/section-gallery//mob/img-10_s.webp,
                           ./images/section-gallery//mob/img-10_s@2x.webp,
                           ./images/section-gallery//mob/img-10_s@3x.webp" 
                     src="./images/section-gallery//mob/img-10_s.jpg"
                     alt="собака ест мороженое" 
                     width="43" 
                     height="43" 
                     loading="lazy">
            </div>
            <div class="grid-item__discriotion">
                  <p>-20%</p>
            </div>
         </div>
         <div class="grid-item--sale">
            <div class="grid-item__wrapper">
            <img class="grid-section__img" 
               srcset="./images/section-gallery//mob/img-12_s.jpg 1x, 
                  ./images/section-gallery//mob/img-12_s@2x.jpg 2x, 
                  ./images/section-gallery//mob/img-12_s@3x.jpg 3x,
                  ./images/section-gallery//mob/img-12_s.webp,
                    ./images/section-gallery//mob/img-12_s@2x.webp,
                    ./images/section-gallery//mob/img-12_s@3x.webp"
               src="./images/section-gallery//mob/img-12_s.jpg" 
               alt="стакан с молочным коктейлем шоколадным" 
               width="43"
               height="43"
               loading="lazy">
            </div>
            <div class="grid-item__discriotion">
               <p>-5%</p>
            </div>
            </div>
      </div>
      
      <div class="grid-item grid-item--last">
         <div class="grid-item--sale">
         <div class="grid-item__wrapper">
         <img class="grid-section__img" 
            srcset="./images/section-gallery//mob/img-11_s.jpg 1x, 
                    ./images/section-gallery//mob/img-11_s@2x.jpg 2x, 
                    ./images/section-gallery//mob/img-11_s@3x.jpg 3x,
                    ./images/section-gallery//mob/img-11_s.webp,
                    ./images/section-gallery//mob/img-11_s@2x.webp,
                    ./images/section-gallery//mob/img-11_s@3x.webp" 
            src="./images/section-gallery//mob/img-11_s.jpg"
            alt="мороженое на пончике и чашке прозрачной на оранжевом фоне" 
            width="43" 
            height="43"
            loading="lazy">
            </div>
            <div class="grid-item__discriotion">
               <p>-13%</p>
            </div>
            </div>
      </div>
   </div>
</div>
</section>