<section class="gallery-section">
  <div class="anchor" id="gallery"></div>
  <div class="gallery-container container">
    <div class="gallery-sizer">
      <div class="gallery-sizer__item gallery-sizer__item--first">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-5_s.webp    1x,
                  ./images/section-gallery/mob/img-5_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-5_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-5_s.png    1x,
                  ./images/section-gallery/mob/img-5_s@2x.png 2x,
                  ./images/section-gallery/mob/img-5_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-5_s.png"
                alt="зеленое мороженое в тарелке"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-5%</p>
          </div>
        </div>
      </div>
      <div class="gallery-sizer__item gallery-sizer__item--second">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-4_s.webp    1x,
                  ./images/section-gallery/mob/img-4_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-4_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-4_s.png    1x,
                  ./images/section-gallery/mob/img-4_s@2x.png 2x,
                  ./images/section-gallery/mob/img-4_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-4_s.png"
                alt="розовое мороженое на желтом фоне"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-9%</p>
          </div>
        </div>
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-6_s.png    1x,
                  ./images/section-gallery/mob/img-6_s@2x.png 2x,
                  ./images/section-gallery/mob/img-6_s@3x.png 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-6_s.webp    1x,
                  ./images/section-gallery/mob/img-6_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-6_s@3x.webp 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-6_s.png"
                alt="мороженое с малиной на палочке"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-2%</p>
          </div>
        </div>
      </div>

      <div class="gallery-sizer__item gallery-sizer__item--width">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img_s.webp    1x,
                  ./images/section-gallery/mob/img_s@2x.webp 2x,
                  ./images/section-gallery/mob/img_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img_s.png    1x,
                  ./images/section-gallery/mob/img_s@2x.png 2x,
                  ./images/section-gallery/mob/img_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img_s.png"
                alt="рожки с фруктами на столе"
                width="89"
                height="89"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p class="big-size">-35%</p>
          </div>
        </div>
        <div class="gallery-item--sale gallery-item--sale-min">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-7_s.webp    1x,
                  ./images/section-gallery/mob/img-7_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-7_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-7_s.png    1x,
                  ./images/section-gallery/mob/img-7_s@2x.png 2x,
                  ./images/section-gallery/mob/img-7_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-7_s.png"
                alt="девушка улыбается и держит мороженое в руке"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div
            class="gallery-item__discriotion gallery-item__small-discription"
          >
            <p>-3%</p>
          </div>
        </div>
      </div>

      <div class="gallery-sizer__item gallery-sizer__item--second">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-9_s.png    1x,
                  ./images/section-gallery/mob/img-9_s@2x.png 2x,
                  ./images/section-gallery/mob/img-9_s@3x.png 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-9_s.webp    1x,
                  ./images/section-gallery/mob/img-9_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-9_s@3x.webp 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-9_s.png"
                alt="мороженое в прозрачной тарелке с рукой"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-7%</p>
          </div>
        </div>
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-8_s.webp    1x,
                  ./images/section-gallery/mob/img-8_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-8_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-8_s.png    1x,
                  ./images/section-gallery/mob/img-8_s@2x.png 2x,
                  ./images/section-gallery/mob/img-8_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-8_s.png"
                alt="красное иороженое на фоне города"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-10%</p>
          </div>
        </div>
      </div>

      <div class="gallery-sizer__item gallery-sizer__item--third">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-10_s.webp    1x,
                  ./images/section-gallery/mob/img-10_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-10_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-10_s.png    1x,
                  ./images/section-gallery/mob/img-10_s@2x.png 2x,
                  ./images/section-gallery/mob/img-10_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-10_s.png"
                alt="собака ест мороженое"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-20%</p>
          </div>
        </div>
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-12_s.webp    1x,
                  ./images/section-gallery/mob/img-12_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-12_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-12_s.png    1x,
                  ./images/section-gallery/mob/img-12_s@2x.png 2x,
                  ./images/section-gallery/mob/img-12_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-12_s.png"
                alt="стакан с молочным коктейлем шоколадным"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-5%</p>
          </div>
        </div>
      </div>

      <div class="gallery-sizer__item gallery-sizer__item--last">
        <div class="gallery-item--sale">
          <div class="gallery-item__wrapper">
            <picture>
              <source
                srcset="
                  ./images/section-gallery/mob/img-11_s.webp    1x,
                  ./images/section-gallery/mob/img-11_s@2x.webp 2x,
                  ./images/section-gallery/mob/img-11_s@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/section-gallery/mob/img-11_s.png    1x,
                  ./images/section-gallery/mob/img-11_s@2x.png 2x,
                  ./images/section-gallery/mob/img-11_s@3x.png 3x
                "
              />
              <img
                class="gallery-section__img"
                src="./images/section-gallery/mob/img-11_s.png"
                alt="мороженое на пончике и чашке прозрачной на оранжевом фоне"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="gallery-item__discriotion">
            <p>-13%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
