<section class="gallery" data-gallery>
  <div class="anchor" id="gallery"></div>
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__container">
    <div class="gallery__sizer-item gallery__sizer-item--a">
      <div class="gallery__item-wrapper" data-aos="zoom-out-right">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-5_l.webp    1x,
                ./images/section-gallery/desktop/img-5_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-5_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-5_l.png    1x,
                ./images/section-gallery/desktop/img-5_l@2x.png 2x,
                ./images/section-gallery/desktop/img-5_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-5_m.webp    1x,
                ./images/section-gallery/tablet/img-5_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-5_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-5_m.png    1x,
                ./images/section-gallery/tablet/img-5_m@2x.png 2x,
                ./images/section-gallery/tablet/img-5_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-5_s.webp    1x,
                ./images/section-gallery/mob/img-5_s@2x.webp 2x,
                ./images/section-gallery/mob/img-5_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-5_s.png    1x,
                ./images/section-gallery/mob/img-5_s@2x.png 2x,
                ./images/section-gallery/mob/img-5_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-5_l.png"
              alt="Green ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-5%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery__sizer-item gallery__sizer-item--b">
      <div class="gallery__item-wrapper" data-aos="zoom-out-left">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-4_l.webp    1x,
                ./images/section-gallery/desktop/img-4_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-4_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-4_l.png    1x,
                ./images/section-gallery/desktop/img-4_l@2x.png 2x,
                ./images/section-gallery/desktop/img-4_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-4_m.webp    1x,
                ./images/section-gallery/tablet/img-4_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-4_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-4_m.png    1x,
                ./images/section-gallery/tablet/img-4_m@2x.png 2x,
                ./images/section-gallery/tablet/img-4_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-4_s.webp    1x,
                ./images/section-gallery/mob/img-4_s@2x.webp 2x,
                ./images/section-gallery/mob/img-4_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-4_s.png    1x,
                ./images/section-gallery/mob/img-4_s@2x.png 2x,
                ./images/section-gallery/mob/img-4_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-4_l.png"
              alt="Pink ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>

          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-4%</p>
          </div>
        </div>
      </div>

      <div class="gallery__item-wrapper" data-aos="zoom-out-up">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-6_l.webp    1x,
                ./images/section-gallery/desktop/img-6_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-6_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-6_l.png    1x,
                ./images/section-gallery/desktop/img-6_l@2x.png 2x,
                ./images/section-gallery/desktop/img-6_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-6_m.webp    1x,
                ./images/section-gallery/tablet/img-6_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-6_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-6_m.png    1x,
                ./images/section-gallery/tablet/img-6_m@2x.png 2x,
                ./images/section-gallery/tablet/img-6_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-6_s.webp    1x,
                ./images/section-gallery/mob/img-6_s@2x.webp 2x,
                ./images/section-gallery/mob/img-6_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-6_s.png    1x,
                ./images/section-gallery/mob/img-6_s@2x.png 2x,
                ./images/section-gallery/mob/img-6_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-6_l.png"
              alt="Raspberry ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>

          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-2%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery__sizer-item">
      <div class="gallery__item-wrapper" data-aos="zoom-out-up">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img_l.webp    1x,
                ./images/section-gallery/desktop/img_l@2x.webp 2x,
                ./images/section-gallery/desktop/img_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img_l.png    1x,
                ./images/section-gallery/desktop/img_l@2x.png 2x,
                ./images/section-gallery/desktop/img_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img_m.webp    1x,
                ./images/section-gallery/tablet/img_m@2x.webp 2x,
                ./images/section-gallery/tablet/img_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img_m.png    1x,
                ./images/section-gallery/tablet/img_m@2x.png 2x,
                ./images/section-gallery/tablet/img_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img_s.webp    1x,
                ./images/section-gallery/mob/img_s@2x.webp 2x,
                ./images/section-gallery/mob/img_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img_s.png    1x,
                ./images/section-gallery/mob/img_s@2x.png 2x,
                ./images/section-gallery/mob/img_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img gallery__section-img--big-img"
              src="./images/section-gallery/desktop/img_l.png"
              alt="Fruit ice-cream"
              width="283"
              height="283"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph gallery__sale-paragraph--big">
              -10%
            </p>
          </div>
        </div>
      </div>

      <div
        class="gallery__item-wrapper gallery__item-wrapper--reduced"
        data-aos="zoom-out-up"
      >
        <div class="gallery__item-sale gallery__item-sale-min">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-7_l.webp    1x,
                ./images/section-gallery/desktop/img-7_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-7_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-7_l.png    1x,
                ./images/section-gallery/desktop/img-7_l@2x.png 2x,
                ./images/section-gallery/desktop/img-7_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-7_m.webp    1x,
                ./images/section-gallery/tablet/img-7_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-7_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-7_m.png    1x,
                ./images/section-gallery/tablet/img-7_m@2x.png 2x,
                ./images/section-gallery/tablet/img-7_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-7_s.webp    1x,
                ./images/section-gallery/mob/img-7_s@2x.webp 2x,
                ./images/section-gallery/mob/img-7_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-7_s.png    1x,
                ./images/section-gallery/mob/img-7_s@2x.png 2x,
                ./images/section-gallery/mob/img-7_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-7_l.png"
              alt="Smiling girl"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-3%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery__sizer-item gallery__sizer-item--d">
      <div class="gallery__item-wrapper" data-aos="zoom-out-right">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-9_l.webp    1x,
                ./images/section-gallery/desktop/img-9_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-9_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-9_l.png    1x,
                ./images/section-gallery/desktop/img-9_l@2x.png 2x,
                ./images/section-gallery/desktop/img-9_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-9_m.webp    1x,
                ./images/section-gallery/tablet/img-9_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-9_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-9_m.png    1x,
                ./images/section-gallery/tablet/img-9_m@2x.png 2x,
                ./images/section-gallery/tablet/img-9_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-9_s.webp    1x,
                ./images/section-gallery/mob/img-9_s@2x.webp 2x,
                ./images/section-gallery/mob/img-9_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-9_s.png    1x,
                ./images/section-gallery/mob/img-9_s@2x.png 2x,
                ./images/section-gallery/mob/img-9_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-9_l.png"
              alt="Ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-7%</p>
          </div>
        </div>
      </div>

      <div class="gallery__item-wrapper" data-aos="zoom-out-left">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-8_l.webp    1x,
                ./images/section-gallery/desktop/img-8_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-8_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-8_l.png    1x,
                ./images/section-gallery/desktop/img-8_l@2x.png 2x,
                ./images/section-gallery/desktop/img-8_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-8_m.webp    1x,
                ./images/section-gallery/tablet/img-8_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-8_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-8_m.png    1x,
                ./images/section-gallery/tablet/img-8_m@2x.png 2x,
                ./images/section-gallery/tablet/img-8_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-8_s.webp    1x,
                ./images/section-gallery/mob/img-8_s@2x.webp 2x,
                ./images/section-gallery/mob/img-8_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-8_s.png    1x,
                ./images/section-gallery/mob/img-8_s@2x.png 2x,
                ./images/section-gallery/mob/img-8_s@3x.png 3x
              "
            />

            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-8_l.png"
              alt="Red ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-3%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery__sizer-item gallery__sizer-item--e">
      <div class="gallery__item-wrapper" data-aos="zoom-out-up">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-10_l.webp    1x,
                ./images/section-gallery/desktop/img-10_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-10_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-10_l.png    1x,
                ./images/section-gallery/desktop/img-10_l@2x.png 2x,
                ./images/section-gallery/desktop/img-10_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-10_m.webp    1x,
                ./images/section-gallery/tablet/img-10_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-10_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-10_m.png    1x,
                ./images/section-gallery/tablet/img-10_m@2x.png 2x,
                ./images/section-gallery/tablet/img-10_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-10_s.webp    1x,
                ./images/section-gallery/mob/img-10_s@2x.webp 2x,
                ./images/section-gallery/mob/img-10_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-10_s.png    1x,
                ./images/section-gallery/mob/img-10_s@2x.png 2x,
                ./images/section-gallery/mob/img-10_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-10_l.png"
              alt="Dog eat ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-5%</p>
          </div>
        </div>
      </div>

      <div class="gallery__item-wrapper" data-aos="zoom-out-right">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-12_l.webp    1x,
                ./images/section-gallery/desktop/img-12_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-12_l@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-12_l.png    1x,
                ./images/section-gallery/desktop/img-12_l@2x.png 2x,
                ./images/section-gallery/desktop/img-12_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-12_m.webp    1x,
                ./images/section-gallery/tablet/img-12_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-12_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-12_m.png    1x,
                ./images/section-gallery/tablet/img-12_m@2x.png 2x,
                ./images/section-gallery/tablet/img-12_m@3x.png 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-12_s.webp    1x,
                ./images/section-gallery/mob/img-12_s@2x.webp 2x,
                ./images/section-gallery/mob/img-12_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-12_s.png    1x,
                ./images/section-gallery/mob/img-12_s@2x.png 2x,
                ./images/section-gallery/mob/img-12_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-12_l.png"
              alt="Chockolate ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-5%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery__sizer-item gallery__sizer-item--f">
      <div class="gallery__item-wrapper" data-aos="zoom-out-left">
        <div class="gallery__item-sale">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-11_l.webp    1x,
                ./images/section-gallery/desktop/img-11_l@2x.webp 2x,
                ./images/section-gallery/desktop/img-11_l@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/section-gallery/desktop/img-11_l.png    1x,
                ./images/section-gallery/desktop/img-11_l@2x.png 2x,
                ./images/section-gallery/desktop/img-11_l@3x.png 3x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-11_m.webp    1x,
                ./images/section-gallery/tablet/img-11_m@2x.webp 2x,
                ./images/section-gallery/tablet/img-11_m@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/section-gallery/tablet/img-11_m.png    1x,
                ./images/section-gallery/tablet/img-11_m@2x.png 2x,
                ./images/section-gallery/tablet/img-11_m@3x.png 3x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-11_s.webp    1x,
                ./images/section-gallery/mob/img-11_s@2x.webp 2x,
                ./images/section-gallery/mob/img-11_s@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/section-gallery/mob/img-11_s.png    1x,
                ./images/section-gallery/mob/img-11_s@2x.png 2x,
                ./images/section-gallery/mob/img-11_s@3x.png 3x
              "
            />
            <img
              class="gallery__section-img"
              src="./images/section-gallery/desktop/img-11_l.png"
              alt="Donut with ice-cream"
              width="138"
              height="138"
              loading="lazy"
            />
          </picture>
          <div class="gallery__item-description">
            <p class="gallery__sale-paragraph">-1%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
