<header class="header">
  <div class="header__top-container">
    <div class="header__nav-container">
      <a class="header__logo" href="./" aria-label="Logotype Icecream">
        <svg width="199" height="50">
          <use href="./images/svg/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="header__navigation head-nav">
        <ul class="head-nav__list">
          <li class="head-nav__item">
            <a class="head-nav__link" href="">Home</a>
          </li>
          <li class="head-nav__item">
            <a class="head-nav__link" href="">About us</a>
          </li>
          <li class="head-nav__item">
            <a class="head-nav__link" href="">How it's made?</a>
          </li>
          <li class="head-nav__item">
            <a class="head-nav__link" href="">Our products</a>
          </li>
          <li class="head-nav__item">
            <a class="head-nav__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__top-inner-container">
      <button
        class="header__mobile-menu-button"
        type="button"
        aria-label="Mobile menu switcher"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__button-icon" width="20" height="12">
          <use href="./images/svg/sprite.svg#menu"></use>
        </svg>
      </button>
      <button
        class="button button--white button--white_arrowed header__buy-button"
        type="button"
        aria-expanded="false"
        aria-controls="modal-backdrop"
      >
        Buy now
      </button>
    </div>
  </div>
  <div class="header__hero hero">
    <h1 class="hero__title">
      ice cream<br />made with<br />
      <span class="hero__title--red">passion</span>
    </h1>
    <a class="button button--red hero__button" href="#products">Products</a>
    <a class="button button--white hero__button" href="#how-its-made"
      >How it's made?</a
    >
  </div>
</header>
