<header class="header" data-header>
  <div class="header__main-container">
    <div class="header__fixed-bar" data-fixed-bar>
      <div class="header__fixed-bar-wrapper">
        <div class="header__blur-container" data-header-blur-container></div>
        <div class="header__navigation-container" data-aos="zoom-in-down">
          <a class="header__logo" href="#home" aria-label="Logotype Icecream">
            <svg class="header__logo-icon" width="199" height="50">
              <use href="./images/svg/sprite.svg#logo"></use>
            </svg>
          </a>
          <nav class="header__navigation head-nav" data-aos="zoom-in-down">
            <ul class="head-nav__list">
              <li class="head-nav__item">
                <a class="head-nav__link is-active" href="#home" data-home-link
                  >Home</a
                >
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#products" data-products-link
                  >Our products</a
                >
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#about" data-about-link
                  >How it's made?</a
                >
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#gallery" data-gallery-link
                  >Gallery</a
                >
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#contacts" data-contacts-link
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__buttons-container">
          <div class="header__mobile-button-wrapper" data-aos="zoom-in-down">
            <button
              class="header__mobile-menu-button mobile-menu-button"
              type="button"
              aria-label="Mobile menu switcher"
              aria-expanded="false"
              aria-controls="mobile-menu"
              data-mobile-menu-button
            >
              <span class="mobile-menu-button__container">
                <span
                  class="mobile-menu-button__line mobile-menu-button__line--top"
                >
                </span>
                <span
                  class="mobile-menu-button__line mobile-menu-button__line--middle"
                >
                </span>
                <span
                  class="mobile-menu-button__line mobile-menu-button__line--bottom"
                ></span>
              </span>
            </button>
          </div>

          <div class="header__button-wrapper" data-aos="zoom-in-down">
            <button
              class="button button--white button--white_arrowed header__buy-button js-open-modal"
              data-modal="buy"
              data-buy-button
              type="button"
            >
              <strong>Buy now</strong>
            </button>
          </div>
        </div>
        <div
          class="header__mobile-menu mobile-menu"
          id="mobile-menu"
          data-mobile-menu
        >
          <div class="mobile-menu__container">
            <button
              class="button button--white button--white_arrowed mobile-menu__buy-button js-open-modal"
              data-modal="buy"
              data-mobile-menu-buy
              type="button"
            >
              <strong>Buy now</strong>
            </button>
            <nav class="mobile-menu__navigation mob-nav">
              <ul class="mob-nav__list" data-mobile-menu-list>
                <li class="mob-nav__item">
                  <a
                    class="mob-nav__link is-active"
                    href="#home"
                    data-home-mobile-link
                    >Home</a
                  >
                </li>
                <li class="mob-nav__item">
                  <a
                    class="mob-nav__link"
                    href="#products"
                    data-products-mobile-link
                    >Our products</a
                  >
                </li>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#about" data-about-mobile-link
                    >How it’s made?</a
                  >
                </li>
                <li class="mob-nav__item">
                  <a
                    class="mob-nav__link"
                    href="#gallery"
                    data-gallery-mobile-link
                    >Gallery</a
                  >
                </li>
                <li class="mob-nav__item">
                  <a
                    class="mob-nav__link"
                    href="#contacts"
                    data-contacts-mobile-link
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
            <div class="mobile-menu__socials-wrapper socials">
              <ul class="socials__list socials__list--mobile">
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://github.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow us on Github"
                  >
                    <svg class="socials__icon" width="20" height="20">
                      <use href="./images/svg/sprite.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://web.telegram.org/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow us in Telegram"
                  >
                    <svg class="socials__icon" width="20" height="20">
                      <use href="./images/svg/sprite.svg#telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://www.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow us on Facebook"
                  >
                    <svg class="socials__icon" width="20" height="20">
                      <use href="./images/svg/sprite.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="header__hero hero" id="home">
      <div class="header__bg-circle"></div>
      <div class="header__bg-icecream"></div>
      <div class="header__bg-girl"></div>
      <div class="header__bg-girl-text" aria-hidden="true">
        <span class="header__bg-girl-subtext header__bg-girl-subtext--top"
          >soooooo</span
        >
        <span class="header__bg-girl-subtext header__bg-girl-subtext--bottom"
          >tasty!</span
        >
      </div>
      <div class="hero__content-container">
        <div class="hero__content-title">
          <h1 class="hero__title" data-aos="zoom-in-down">
            Ice cream<br />made with<br />
            <span class="hero__title--red">passion</span>
          </h1>
          <div class="hero__button-wrapper" data-aos="zoom-in-down">
            <a
              class="button button--red hero__button hero__button--red"
              href="#products"
              >Products</a
            >
            <a
              class="button button--white hero__button hero__button--white"
              href="#about"
              >How it’s made?</a
            >
          </div>
        </div>
        <div class="hero__summary-container" data-aos="zoom-in-down">
          <ul class="hero__summary-list">
            <li class="hero__summary-item">
              <p class="hero__summary-text">
                <span
                  class="hero__summary-count js-open-modal"
                  data-modal="franchise"
                  >16</span
                >cafes
              </p>
            </li>
            <li class="hero__summary-item">
              <p class="hero__summary-text">
                <span
                  class="hero__summary-count js-open-modal"
                  data-modal="franchise"
                  >23</span
                >food trucks
              </p>
            </li>
          </ul>
        </div>
        <div class="hero__about" data-aos="zoom-in-up">
          <div class="hero__about-image-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/header/milk/desktop/milk.webp    1x,
                  ./images/header/milk/desktop/milk@2x.webp 2x,
                  ./images/header/milk/desktop/milk@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/header/milk/desktop/milk.png    1x,
                  ./images/header/milk/desktop/milk@2x.png 2x,
                  ./images/header/milk/desktop/milk@3x.png 3x
                "
              />
              <source
                srcset="
                  ./images/header/milk/tablet/milk.webp    1x,
                  ./images/header/milk/tablet/milk@2x.webp 2x,
                  ./images/header/milk/tablet/milk@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/header/milk/tablet/milk.png    1x,
                  ./images/header/milk/tablet/milk@2x.png 2x,
                  ./images/header/milk/tablet/milk@3x.png 3x
                "
              />
              <img
                class="hero__about-image"
                src="./images/header/milk/tablet/milk.png"
                alt="Pitcher of milk"
                width="152"
                height="154"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="hero__about-container">
            <div class="hero__about-text-container">
              <p class="hero__about-text" data-hero-about-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
              <p class="hero__about-description" data-hero-about-description>
                <span class="hero__about-description-title">Description:</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="hero__about-button" data-hero-about-button>
              <svg class="hero__about-button-icon" width="8" height="8">
                <use href="./images/svg/sprite.svg#arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
