<header class="header" data-header>
  <div class="header__main-container">
    <div class="header__fixed-bar" data-fixed-bar>
      <div class="header__fixed-bar-wrapper">
        <div class="header__blur-container" data-header-blur-container></div>
        <div class="header__navigation-container">
          <a class="header__logo" href="#home" aria-label="Logotype Icecream">
            <svg class="header__logo-icon" width="199" height="50">
              <use href="./images/svg/sprite.svg#logo"></use>
            </svg>
          </a>
          <nav class="header__navigation head-nav">
            <ul class="head-nav__list">
              <li class="head-nav__item">
                <a class="head-nav__link" href="#home">Home</a>
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#products">Our products</a>
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#about">How it's made?</a>
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#gallery">Gallery</a>
              </li>
              <li class="head-nav__item">
                <a class="head-nav__link" href="#contacts">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__buttons-container">
          <button
            class="header__mobile-menu-button mobile-menu-button"
            type="button"
            aria-label="Mobile menu switcher"
            aria-expanded="false"
            aria-controls="mobile-menu"
            data-mobile-menu-button
          >
            <span class="mobile-menu-button__container">
              <span
                class="mobile-menu-button__line mobile-menu-button__line--top"
              >
              </span>
              <span
                class="mobile-menu-button__line mobile-menu-button__line--middle"
              >
              </span>
              <span
                class="mobile-menu-button__line mobile-menu-button__line--bottom"
              ></span>
            </span>
          </button>
          <button
            class="button button--white button--white_arrowed header__buy-button"
            type="button"
            aria-expanded="false"
            aria-controls="!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
            data-buy-button
          >
            <strong>Buy now</strong>
          </button>
        </div>
        <div
          class="header__mobile-menu mobile-menu"
          id="mobile-menu"
          data-mobile-menu
        >
          <div class="mobile-menu__container">
            <button
              class="button button--white button--white_arrowed mobile-menu__buy-button"
              type="button"
              aria-expanded="false"
              aria-controls="!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
            >
              <strong>Buy now</strong>
            </button>
            <nav class="mobile-menu__navigation mob-nav">
              <ul class="mob-nav__list" data-mobile-menu-list>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#home">Home</a>
                </li>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#products">Our products</a>
                </li>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#about">How it's made?</a>
                </li>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#gallery">Gallery</a>
                </li>
                <li class="mob-nav__item">
                  <a class="mob-nav__link" href="#contacts">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <section class="header__hero hero" id="home">
      <div class="header__bg-circle"></div>
      <div class="header__bg-icecream"></div>
      <div class="header__bg-girl"></div>
      <div class="hero__content-container">
        <h1 class="hero__title">
          Ice cream<br />made with<br />
          <span class="hero__title--red">passion</span>
        </h1>
        <a
          class="button button--red hero__button hero__button--red"
          href="#products"
          >Products</a
        >
        <a
          class="button button--white hero__button hero__button--white"
          href="#about"
          >How it's made?</a
        >
      </div>
    </section>
  </div>
</header>
