<div class="modal" data-modal="buy">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="12" height="12">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <p class="modal__title">Send your request</p>
  <form class="form" autocomplete="off">
    <label class="modal-form__group">
      <span class="modal-form__text">Name</span>
      <span class="modal-form__input-container">
        <input
          class="modal-form__input"
          name="name"
          type="text"
          placeholder="John Smith"
          minlength="3"
          required
        />
        <svg class="modal-form__icon" width="18" height="18">
          <use href="./images/svg/sprite.svg#person"></use>
        </svg>
      </span>
    </label>

    <label class="modal-form__group">
      <span class="modal-form__text">Phone</span>
      <span class="modal-form__input-container">
        <input
          class="modal-form__input"
          name="phone"
          type="tel"
          minlength="8"
          placeholder="+380597895234"
          required
        />
        <svg class="modal-form__icon" width="18" height="18">
          <use href="./images/svg/sprite.svg#phone"></use>
        </svg>
      </span>
    </label>

    <label class="modal-form__group">
      <span class="modal-form__text">Email</span>
      <span class="modal-form__input-container">
        <input
          class="modal-form__input"
          name="email"
          type="email"
          placeholder="joht.smith@mymail.com"
          required
        />
        <svg class="modal-form__icon" width="18" height="18">
          <use href="./images/svg/sprite.svg#email"></use>
        </svg>
      </span>
    </label>
    <label class="modal-form__group-textarea">
      <span class="modal-form__text">Comments</span>
      <textarea
        class="modal-form__textarea"
        name="comments"
        rows="5"
        placeholder="Feel free to text here"
      ></textarea>
    </label>
    <button
      class="button button--red button--red_arrowed form__button"
      type="submit"
    >
      Give me some icecream!
    </button>
  </form>
</div>

<div class="about-modal-bg modal" data-modal="about">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="12" height="12">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <p class="modal__title">Our Traditions</p>
  <p class="about-modal__text">
    The company "Ice Cream" has its own raw material base and pays special
    attention to the parameters of raw materials received for processing. The
    company carries out maximum quality control both at the stage of milk
    procurement and in production.
  </p>
  <p class="about-modal__text">
    The management system implemented in the company is exactly the same as in
    the leading international enterprises
  </p>
</div>

<div class="modal" data-modal="contacts">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="12" height="12">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <p class="modal__title">Our Locations</p>
  <div class="contacts__wrapper">
    <ul class="contacts__list">
      <li class="contacts__item contacts-is-visible" data-contacts-item1>
        <p class="contacts__title">"Ice Cream & Coffee"</p>
        <ul class="contacts__contacts">
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action"
              >Visit us in Chicago</strong
            >
            <a
              class="contacts__contacts-link"
              href="https://goo.gl/maps/Gqc7Jt8box741Gfj7"
              target="_blank"
              rel="noopener noreferrer"
              >McKinley Park, Chicago, IL USA</a
            >
          </li>
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action">Call us:</strong>
            <a class="contacts__contacts-link" href="tel:+610383744281"
              >+61(0) 383 744 281</a
            >
          </li>
        </ul>
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.8460334488!2d-87.73196395!3d41.83373295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2sua!4v1656461258488!5m2!1sen!2sua"
          width="440"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li class="contacts__item" data-contacts-item2>
        <p class="contacts__title">"Foodtruck Ice Cream"</p>
        <ul class="contacts__contacts">
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action"
              >Visit us in Los Angeles</strong
            >
            <a
              class="contacts__contacts-link"
              href="https://goo.gl/maps/6FCxN1HaJ4WsCYQ99"
              target="_blank"
              rel="noopener noreferrer"
              >Santa Monica Pier, Santa Monica, CA USA</a
            >
          </li>
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action">Call us:</strong>
            <a class="contacts__contacts-link" href="tel:+610383777259"
              >+61(0) 383 777 259</a
            >
          </li>
        </ul>
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211641.83331524374!2d-118.55181398518167!3d34.02068416081754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4d74d5ea79b%3A0xcd9a111aced18f4d!2sSanta%20Monica%20Pier!5e0!3m2!1sen!2sua!4v1656461889867!5m2!1sen!2sua"
          width="440"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li class="contacts__item" data-contacts-item3>
        <p class="contacts__title">"Ice Cream & Coffee"</p>
        <ul class="contacts__contacts">
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action"
              >Visit us in New York</strong
            >
            <a
              class="contacts__contacts-link"
              href="https://goo.gl/maps/4z8z7gLWeyFQowpt5"
              target="_blank"
              rel="noopener noreferrer"
              >Central Park, New York, NY USA</a
            >
          </li>
          <li class="contacts__contacts-item">
            <strong class="contacts__contacts-action">Call us:</strong>
            <a class="contacts__contacts-link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
        </ul>
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24170.23163923633!2d-73.9772836783844!3d40.77788107851288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1656462240406!5m2!1sen!2sua"
          width="440"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
    </ul>
    <div class="contacts__next-button" data-contacts-button>
      <svg class="contacts__next-button-icon" width="14" height="14">
        <use href="./images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </div>
  </div>
</div>

<div class="modal" data-modal="franchise">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="12" height="12">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <p class="modal__title">Our Franchises</p>
  <div class="franchise__wrapper">
    <ul class="franchise__list">
      <li class="franchise__item franchise-is-visible" data-franchise-item1>
        <p class="franchise__title">"Baldo’s Ice Cream & Coffee"</p>
        <ul class="franchise__contacts">
          <li class="franchise__contacts-item">
            <strong class="franchise__contacts-action">Visit us:</strong>
            <a
              class="franchise__contacts-link"
              href="https://maps.app.goo.gl/844jJd9n6NZPT4X19"
              target="_blank"
              rel="noopener noreferrer"
              >Hillcrest Avenue, Suite 102 Dallas, Texas</a
            >
          </li>
          <li class="franchise__contacts-item">
            <strong class="franchise__contacts-action">Call us:</strong>
            <a class="franchise__contacts-link" href="tel:+9729134001"
              >(972) 913-4001</a
            >
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./images/modal/franchise/dallas.webp    1x,
              ./images/modal/franchise/dallas@2x.webp 2x,
              ./images/modal/franchise/dallas@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/modal/franchise/dallas.jpg    1x,
              ./images/modal/franchise/dallas@2x.jpg 2x,
              ./images/modal/franchise/dallas@3x.jpg 3x
            "
            type="image/jpg"
          />

          <img
            class="franchise__img"
            src="./images/modal/franchise/dallas.jpg"
            alt="Caffe Dallas"
            width="440"
            height="283"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="franchise__item" data-franchise-item2>
        <p class="franchise__title">"Artican Gelato"</p>
        <ul class="franchise__contacts">
          <li class="franchise__contacts-item">
            <strong class="franchise__contacts-action">Visit us:</strong>
            <a
              class="franchise__contacts-link"
              href="https://maps.app.goo.gl/qPVZHywNkZLS9czn6"
              target="_blank"
              rel="noopener noreferrer"
              >39 South Clerk Street, Edinburgh, Scotland</a
            >
          </li>
          <li class="franchise__contacts-item">
            <strong class="franchise__contacts-action">Call us:</strong>
            <a class="franchise__contacts-link" href="tel:+9769154003"
              >(976) 915-4003</a
            >
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./images/modal/franchise/edinburgh.webp    1x,
              ./images/modal/franchise/edinburgh@2x.webp 2x,
              ./images/modal/franchise/edinburgh@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/modal/franchise/edinburgh.jpg    1x,
              ./images/modal/franchise/edinburgh@2x.jpg 2x,
              ./images/modal/franchise/edinburgh@3x.jpg 3x
            "
            type="image/jpg"
          />

          <img
            class="franchise__img"
            src="./images/modal/franchise/edinburgh.jpg"
            alt="Caffe Edinburgh"
            width="440"
            height="282"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <div class="franchise__next-button" data-franchise-button>
      <svg class="franchise__next-button-icon" width="14" height="14">
        <use href="./images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </div>
  </div>
</div>

<div class="modal-overlay js-overlay-modal"></div>
