<!-- <a href="#" class="js-open-modal" data-modal="buy now">Открыть окно 1</a>
<a href="#" class="js-open-modal" data-modal="contacts">Открыть окно 2</a> -->

<div class="modal" data-modal="franchise">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="12" height="12">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <p class="modal__title">Our Franchises</p>
  <ul class="franchise__list">
    <li class="franchise__item franchise-is-visible" data-franchise-item1>
      <p class="franchise__title">"Baldo’s Ice Cream & Coffee"</p>
      <ul class="franchise__contacts">
        <li class="franchise__contacts-item">
          Visit us:
          <a
            class="franchise__contacts-link"
            href="https://maps.app.goo.gl/844jJd9n6NZPT4X19"
            target="_blank"
            rel="noopener noreferrer"
            >Hillcrest Ave, Suite 102 Dallas, Texas</a
          >
        </li>
        <li class="franchise__contacts-item">
          Call us:
          <a class="franchise__contacts-link" href="tel:+9729134001"
            >(972) 913-4001</a
          >
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ./images/modal/franchise/dallas.webp    1x,
            ./images/modal/franchise/dallas@2x.webp 2x,
            ./images/modal/franchise/dallas@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/modal/franchise/dallas.jpg    1x,
            ./images/modal/franchise/dallas@2x.jpg 2x,
            ./images/modal/franchise/dallas@3x.jpg 3x
          "
          type="image/jpg"
        />

        <img
          class="franchise__img"
          src="./images/modal/franchise/dallas.jpg"
          alt="Caffe Dallas"
          width="440"
          height="283"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="franchise__item" data-franchise-item2>
      <p class="franchise__title">"Artican Gelato"</p>
      <ul class="franchise__contacts">
        <li class="franchise__contacts-item">
          Visit us:
          <a
            class="franchise__contacts-link"
            href="https://maps.app.goo.gl/qPVZHywNkZLS9czn6"
            target="_blank"
            rel="noopener noreferrer"
            >39 South Clerk Street, Edinburgh EH8 9NZ Scotland</a
          >
        </li>
        <li class="franchise__contacts-item">
          Call us:
          <a class="franchise__contacts-link" href="tel:+9769154003"
            >(976) 915-4003</a
          >
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ./images/modal/franchise/edinburgh.webp    1x,
            ./images/modal/franchise/edinburgh@2x.webp 2x,
            ./images/modal/franchise/edinburgh@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/modal/franchise/edinburgh.jpg    1x,
            ./images/modal/franchise/edinburgh@2x.jpg 2x,
            ./images/modal/franchise/edinburgh@3x.jpg 3x
          "
          type="image/jpg"
        />

        <img
          class="franchise__img"
          src="./images/modal/franchise/edinburgh.jpg"
          alt="Caffe Edinburgh"
          width="440"
          height="282"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
  <div class="franchise__next-button" data-franchise-button>
    <svg class="franchise__next-button-icon" width="14" height="14">
      <use href="./images/svg/sprite.svg#arrow-right"></use>
    </svg>
  </div>
</div>

<div class="modal-overlay js-overlay-modal"></div>
