<!DOCTYPE html>

<section class="section products">
  <div class="container products__container">
    <p class="products__label">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="list products__list">
      <li class="products__unit">
        <div class="products__card products__card--cream">
          <h3 class="products__name">ICE CREAM</h3>

          <p class="products__text" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button
            data-modal-open
            class="products__button"
            type="button"
          ></button>

          <div class="products__backdrop is-hidden" data-modal>
            <button class="button button--white_arrowed products__button--close" data-modal-close>
              
            Return</button>

            <div class="products__backdrop__textaria">
              <p class="products__text products__text--backdrod " lang="en">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
                unde impedit corporis enim exercitationem possimus eligendi quidem
                illum tenetur sunt molestias, blanditiis cupiditate eaque nihil
                magnam pariatur totam nemo natus officiis mollitia, explicabo
                distinctio alias similique libero. Illum, quis, aliquid quia
                aperiam fuga vel consequuntur, nihil laboriosam eveniet odio
                voluptatum labore perferendis? Quisquam, laboriosam totam eveniet
                non ducimus error beatae libero ea laudantium? Nemo, dolores saepe
                illum alias vitae inventore esse minus voluptates perferendis
                quaerat non, culpa hic omnis repellat totam perspiciatis qui
                tempore nesciunt ducimus? Nobis rerum sunt provident laborum.
                Aperiam quam totam, fuga perspiciatis sed ducimus odio cupiditate.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="products__unit">
        <div class="products__card products__card--coffee">
          <h3 class="products__name">ICE COFFEE</h3>

          <p class="products__text" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button
            data-modal-open
            class="products__button"
            type="button"
          ></button>

          <div class="products__backdrop products__backdrop--coffe is-hidden" data-modal>
            <button class="products__button--close" data-modal-close>
              
            </button> 

            <div class="products__backdrop__textaria">
              <p class="products__text products__text--backdrod " lang="en">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
                unde impedit corporis enim exercitationem possimus eligendi quidem
                illum tenetur sunt molestias, blanditiis cupiditate eaque nihil
                magnam pariatur totam nemo natus officiis mollitia, explicabo
                distinctio alias similique libero. Illum, quis, aliquid quia
                aperiam fuga vel consequuntur, nihil laboriosam eveniet odio
                voluptatum labore perferendis? Quisquam, laboriosam totam eveniet
                non ducimus error beatae libero ea laudantium? Nemo, dolores saepe
                illum alias vitae inventore esse minus voluptates perferendis
                quaerat non, culpa hic omnis repellat totam perspiciatis qui
                tempore nesciunt ducimus? Nobis rerum sunt provident laborum.
                Aperiam quam totam, fuga perspiciatis sed ducimus odio cupiditate.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="products__unit">
        <div class="products__card products__card--milkshakes">
          <h3 class="products__name">MILKSHAKES</h3>

          <p class="products__text" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button
            data-modal-open
            class="products__button"
            type="button"
          ></button> 

          <div class="products__backdrop products__backdrop--milkshakes is-hidden" data-modal>
            <button class="products__button--close" data-modal-close>
            </button> 

            <div class="products__backdrop__textaria">
              <p class="products__text products__text--backdrod " lang="en">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
                unde impedit corporis enim exercitationem possimus eligendi quidem
                illum tenetur sunt molestias, blanditiis cupiditate eaque nihil
                magnam pariatur totam nemo natus officiis mollitia, explicabo
                distinctio alias similique libero. Illum, quis, aliquid quia
                aperiam fuga vel consequuntur, nihil laboriosam eveniet odio
                voluptatum labore perferendis? Quisquam, laboriosam totam eveniet
                non ducimus error beatae libero ea laudantium? Nemo, dolores saepe
                illum alias vitae inventore esse minus voluptates perferendis
                quaerat non, culpa hic omnis repellat totam perspiciatis qui
                tempore nesciunt ducimus? Nobis rerum sunt provident laborum.
                Aperiam quam totam, fuga perspiciatis sed ducimus odio cupiditate.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<script src="/src/js/js/modal.js"></script>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/js/mobile-menu.js"></script>