<section class="products" data-products>
  <div class="anchor" id="products"></div>
  <div class="products__container">
    <p class="products__label" data-aos="fade-up">100% natural</p>
    <h2 class="products__title" data-aos="fade-up">Pruducts</h2>

    <ul class="products__list">
      <li
        class="products__card products__card--icecream"
        data-aos="fade-up-right"
      >
        <div
          class="products__card-container products__card-container--icecream"
        >
          <h3 class="products__card-title">Ice Cream</h3>

          <div class="products__text-group">
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <p
              class="products__more products__more--icecream"
              data-more-icecream
            >
              <span class="products__description">Description:</span>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque,
              sequi. Lorem ipsum dolor.
            </p>
          </div>
          <div class="products__button" data-more-button-icecream>
            <svg class="products__button-icon" width="14" height="14">
              <use href="./images/svg/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </li>

      <li class="products__card products__card--coffee" data-aos="fade-up">
        <div class="products__card-container products__card-container--coffee">
          <h3 class="products__card-title">Ice Coffee</h3>

          <div class="products__text-group">
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <p class="products__more products__more--coffee" data-more-coffee>
              <span class="products__description">Description:</span>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque,
              sequi. Lorem ipsum dolor.
            </p>
          </div>
          <div class="products__button" data-more-button-coffee>
            <svg class="products__button-icon" width="14" height="14">
              <use href="./images/svg/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </li>

      <li
        class="products__card products__card--milkshakes"
        data-aos="fade-up-left"
      >
        <div
          class="products__card-container products__card-container--milkshakes"
        >
          <h3 class="products__card-title">Milkshakes</h3>

          <div class="products__text-group">
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <p
              class="products__more products__more--milkshakes"
              data-more-milkshakes
            >
              <span class="products__description">Description:</span>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque,
              sequi. Lorem ipsum dolor.
            </p>
          </div>
          <div class="products__button" data-more-button-milkshakes>
            <svg class="products__button-icon" width="14" height="14">
              <use href="./images/svg/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
